body{
  background-color: hsl(210, 46%, 95%);
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}
.slider{
  width:700px;
  height: 260px;
  background-color:white;
  display:flex;
  justify-content: center;
}
.drawers{
  max-width: 300px;
}
.michelle{
  max-width: 50px;
  border-radius: 25px;
}
.panel{
  display:flex;
  flex-direction: column;
  padding:35px;
  gap:15px;
}
.card{
  display:flex;
  justify-content:start; 
  max-width:325px;
  background-color:gray;
}
.cardDesc{
  display:flex;
  flex-direction: column;
  gap:5px;
  justify-content: center;
  padding-left: 10px;
  
}
h1{
  color:hsl(214, 17%, 51%);
}
.title{
  font-size: 20px;
}
.name{
  font-size:14px;
}
p{
  color:hsl(212, 23%, 69%);
}
.date{
  font-size:10px;
}
.desc{
  font-size: 13px;
}
.share{
  background-color:hsl(217, 19%, 35%);
  display:none;
}
.sharebtn{
  width:30px;
  height:30px;
  border-radius:25px;
}

.attribution { 
  font-size: 12px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}